[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyqt5 = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"
openbci-interface = "*"

[requires]
python_version = "3.7"
