[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
pyqt5 = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"
openbci-interface = "*"
numba = "*"
tablib = "*"

[requires]
python_version = "3.7"
