{% extends 'about.html' %}

{% block about %}
<ul>
    <li>Gonzalo Joya Caparrós (UMA), <strong>General Coordinator</strong></li>
    <li>Rodolfo García (UTM), <strong>UTM Coordinator</strong></li>
    <li>Roberto Becerra (UMA), <strong>Main Developer</strong></li>
    <li>Wilmer Cedeño (UTM), <strong>Developer</strong></li>
    <li>Mauro Ferrín (UTM), <strong>Developer</strong></li>
    <li>Rodolfo Becerra (UHO), <strong>Developer</strong></li>
    <li>Luis Velázquez Rodríguez (CIRAH), <strong>Main Advisor</strong></li>
    <li>Roberto Rodríguez Labrada (CIRAH), <strong>Advisor</strong></li>
</ul>

<p class="project">Project resulting from cooperation between the University of Malaga (Spain), el Manabí Institute of
Technology (Ecuador) and the Centre for Research and Rehabilitation of Hereditary Ataxias (Cuba).<p/>
{% endblock %}
