{% extends 'about.html' %}

{% block about %}
<ul>
    <li>Gonzalo Joya Caparrós (UMA), <strong>Coordinador General</strong></li>
    <li>Rodolfo García (UTM), <strong>Coordinador UTM</strong></li>
    <li>Roberto Becerra (UMA), <strong>Desarrollador Principal</strong></li>
    <li>Wilmer Cedeño (UTM), <strong>Desarrollador</strong></li>
    <li>Mauro Ferrín (UTM), <strong>Desarrollador</strong></li>
    <li>Rodolfo Becerra (UHO), <strong>Desarrollador</strong></li>
    <li>Luis Velázquez Rodríguez (CIRAH), <strong>Asesor Principal</strong></li>
    <li>Roberto Rodríguez Labrada (CIRAH), <strong>Asesor</strong></li>
</ul>

<p class="project">Proyecto resultado de la colaboración entre la Universidad de Málaga (España),
el Instituto Tecnológico de Manabí (Ecuador) y el Centro de Investigación y
Rehabilitación de las Ataxias Hereditarias (Cuba)<p/>
{% endblock %}
