{% extends 'base.html' %}

{% block content %}
<h1>Resumen</h1>

<h2>Sujeto</h2>
<p>
<strong>{{ subject.name }}</strong>,
{% if subject.gender == 0 %}
persona nacida el
{% elif subject.gender == 1 %}
hombre nacido el
{% elif subject.gender == 2 %}
mujer nacida el
{% endif  %}
{{ subject.borndate.strftime('%d/%m/%Y')}}
({{ subject.status.label }})
</p>

<h2>Estímulos</h2>
<div class="stimuli">
    <ol>
    {% for stimulus in protocol %}
        <li>
            <strong>{{ stimulus }}</strong> con {{ stimulus.saccades_count }} sácadas. La duración media de las fijaciones es <strong>{{
                stimulus.fixation_duration }} segundos</strong> con una variabilidad del <strong>{{ stimulus.fixation_variability }}%</strong>.
        </li>
    {% endfor %}
    </ol>
</div>

<div class="notes">
<h2>Nota Importante</h2>

<p>Distancia del sujeto a la pantalla: <strong>{{ "%.2f"|format(distance) }} cm</strong></p>
</div>
{% endblock %}
