[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=SaccRec
Comment=Electrooculographic Signals Recording App
Exec=sh -c "python3.7 ~/.local/bin/SaccRec.py"
Icon=SaccRec.png
Terminal=false
Categories=Science;